*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body {
    font-size: 16px;
    background-image: url("../images/NeuralNetworkMain.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: indigo;
}

.header {
    height: 80px;
    margin-bottom: 40px;
}

.header__inner {
    display: flex;
    justify-content: center;
}

.header__inner-text {
    color: yellow;
    display: flex;
    justify-content: center;
    width: 150px;
    text-align: center;
    margin-left: 30px;
}

.download {
    height: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.download__sample {
    margin-left: 40px;
    display: flex;
    justify-content: center;
}

.download__sample-link {
    border-radius: 20px;
    background-color: blue;
    width: 340px;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: honeydew;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.download__sample-link:hover {
    width: 360px;
    font-weight: bold;
    color: gold;
    transition: all 1s;
}

.description {
    padding: 15px;
}

.description__text {
    display: flex;
    justify-content: center;
    color: gold;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.menu {
    margin-top: 40px;
}

.menu__inner {
    color: coral;
    text-align: center;
    display: block;
    text-decoration: none;
    cursor: pointer;
}

.menu__list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
}

.menu__list-item--link{
    margin: 15px;
    background-color: blue;
    width: 200px;
    padding: 5px;
    border-radius: 20px;
    color: cornsilk;
    display: block;
}
.menu__list-item--link:hover{
    font-weight: bold;
    color:gold;
    width: 220px;
    transition: all 1s;
}

.train, .check, .download__{
    color: gold;
    text-align: center;
    font-size: 18px;
}

.back{
    display: flex;
    justify-content: center;
}

.back__link {
    font-size: 18px;
    text-align: center;
    display: block;
    margin: 15px;
    background-color: blue;
    width: 200px;
    padding: 5px;
    border-radius: 20px;
    color: cornsilk;
    display: block;
}

.back__link:hover {
    text-align: center;
    margin: 15px;
    background-color: blue;
    width: 220px;
    padding: 5px;
    border-radius: 20px;
    color: gold;
    font-weight: bold;
    display: block;
    transition: all 1s;
}

.data {
    color: gold;
    text-align: left;
    font-size: 8px;
}

.evaluate {
    color: gold;
    text-align: left;
    font-size: 16px;
}