body {
    background-image: url("../images/NeuralNetworkMain.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.data {
    color: honeydew;
    text-align: center;
}

h3 {
    color: yellow;
    text-align: center;
}

h4 {
    color: yellow;
    text-align: center;
}

p {
    color: chartreuse;
}

.back a {
    color: coral;
    text-align: center;
    display: block;
}