<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Demo</title>
    <link rel="stylesheet" type="text/css" href="../css/myStyle.css">
</head>

<body>
<p>{{data}}</p>
<p>{{labels}}</p>
<div class="back">
    <a href="http://localhost:8080/">back</a>
</div>
</body>
</html>