<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Demo</title>
    <link rel="stylesheet" type="text/css" href="../css/myStyle.css">
</head>

<body>
{{#results}}
    <p class="check">{{label}} = {{result}}%</p>
{{/results}}
<div class="back">
    <a class="back__link" href="http://localhost:8080/">back</a>
</div>
</body>
</html>