<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Download</title>
    <link rel="stylesheet" type="text/css" href="../css/myStyle.css">
</head>

<body>
<p class="download__">{{result}}</p>
<div class="back">
    <a class="back__link" href="http://localhost:8080/">back</a>
</div>
</body>
</html>