<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Evaluation</title>
    <link rel="stylesheet" type="text/css" href="../css/myStyle.css">
</head>

<body>
{{#result}}
    <div class="evaluate">
        <pre>{{dataSet}}</pre>
    </div>
{{/result}}
<div class="back">
    <a class="back__link" href="http://localhost:8080/">back</a>
</div>
</body>
</html>