<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link href="css/myStyle.css" rel="stylesheet">
</head>

<body>
<h3>Menu</h3>
<div class="back">
    <a href="http://localhost:8080/neural-network/download-from-source">Download sample(it will take a few minutes)</a>
</div>
<p></p>
<h4>You should have a directory with sample before you start use next functions.</h4>
<div class="back">
    <a href="http://localhost:8080/neural-network/demo">Demo</a><br>
    <a href="http://localhost:8080/neural-network/train-model">Train model</a><br>
    <a href="http://localhost:8080/neural-network/evaluate-model">Evaluate model</a><br>
    <a href="http://localhost:8080/neural-network/check-model">Check model</a><br></div>
</body>
</html>